/* إعدادات عامة */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

/* تصميم الـ main */
main {
    padding: 3rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* تخصيص الـ admin-section */
.admin-section {
    background: #fff;
    padding: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.admin-section h2 {
    font-size: 2rem;
    color: #333537;
    margin-bottom: 1.5rem;
}

.action-buttons {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

button {
    background-color: #fbcfaf;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d9aa88;
}

/* تخصيص الـ forms */
.content-form {
    background: #f9fafb;
    padding: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.content-form h3 {
    font-size: 1.5rem;
    color: #333537;
    margin-bottom: 1.5rem;
}

.content-form input,
.content-form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    font-size: 1rem;
    outline: none;
}

.content-form input:focus,
.content-form textarea:focus {
    border-color: #333537;
}

.content-form button {
    background-color: #333537;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.content-form button:hover {
    background-color: #111213;
}

/* تخصيص الـ remove-article form */
#removeArticleForm {
    display: none;
}

/* تخصيص التنسيق عند عرض Remove Article Form */
#removeArticleForm.show {
    display: block;
}

#updateArticleForm {
    display: none;
}

#addCategoryForm {
    display: block;
}

.tab-titles {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.tab-titles h2 {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent;
}

.tab-titles h2.activeBtn {
    color: #333537;
    border-bottom: 2px solid #333537;
}

.tab-titles h2:not(.activeBtn) {
    color: rgb(193, 193, 193);
    cursor: pointer;
}

