 body{
  font-family: 'Times New Roman', Times, serif;
 }
 .checkout-panel {
    display: flex;
    flex-direction: column;
    width: 940px;
    height: 766px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    margin: 10vh auto;
    position: relative;
      /* background: #333537;
    background: #131414;
    color: #fbcfaf; */
  }
  .panel-body {
    padding: 45px 80px 0;
    flex: 1;
  }
   
  .title {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px;
    color: #2e2e2e;
  }
  .progress-bar {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
  }
   
  .step {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    display: block;
    width: 25px;
    height: 25px;
    margin-bottom: 30px;
    border: 4px solid #fff;
    border-radius: 50%;
    /* لون الدواريه اي لسه مشتغلتش */
    background-color: #efefef;
  }
   
  .step:after {
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 22px;
    width: 225px;
    height: 6px;
    content: '';
    /* لون الي لسهه موصلهاش */
    background-color: #efefef;
  }
   
  .step:before {
    color: #2e2e2e;
    position: absolute;
    top: 40px;
  }
   
  .step:last-child:after {
    content: none;
  }
   
  .step.active {
    background-color: #fbcfaf;
  }
  .step.active:after {
    background-color: #fbcfaf;
  }
  .step.active:before {
    color: #fbcfaf;
  }
  .step.active + .step {
    background-color: #fbcfaf;
  }
  .step.active + .step:before {
    color: #fbcfaf;
  }
   
  .step:nth-child(1):before {
    content: 'Cart';
  }
  .step:nth-child(2):before {
    right: -40px;
    content: 'Confirmation';
  }
  .step:nth-child(3):before {
    right: -30px;
    content: 'Payment';
  }
  .step:nth-child(4):before {
    right: 0;
    content: 'Finish';
  }

  .panel-footer {
    display: flex;
    width: 100%;
    height: 96px;
    padding: 0 80px;
    background-color: rgb(239, 239, 239);
    justify-content: space-between;
    align-items: center;
  }
  .btn {
    font-size: 16px;
    width: 163px;
    height: 48px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    letter-spacing: 1px;
    border: none;
    border-radius: 23px;
  }
   
  .back-btn {
    color: #fbcfaf;
    background: #fff;
  }
  .back-btn:hover {
    background: #feeddd;
    color: #d9aa88;
  }
   
  .next-btn {
    color: #fff;
    background: #fbcfaf;
  }

  .next-btn:hover {
    background: #d9aa88;
  }
   
  .btn:focus {
    outline: none;
  }

  .info{
    /* background-color: #d9aa88; */
    width: 25vw;
    height: 50vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 5% 5% 0;
}

.column-2 {
    display: flex;
    flex-direction: column; /* يخلي العناصر عمودية */
    margin-bottom: 1.5rem; /* بس للفاصل بينهم */
    border: none;
}

input[type='text'],
input[type='tel'],
input[type='email'] {
    font-size: 16px;
    width: 140%;
    height: 50px;
    padding-right: 40px;
    color: rgba(46, 46, 46, .8);
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
    outline: none;
}

input[type='text']:focus,
input[type='tel']:focus,
input[type='email']:focus {
    border-color: #d9aa88;
}

.price{
    /* background-color: #25eb25; */
    width: 10vw;
    height: 10vh;
    margin: 27vh 30vw 10vh 33vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 15% 15% 15%;
}

.section h3 {
    padding-bottom: 4vh;
    border-bottom: #3333332b solid;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    width: 25vw;
  }
    
  .row span:first-child {
    color: #333;
  }
  
  .action {
    border: none;
    color: #fbcfaf;
    cursor: pointer;
  }